@import url('https://fonts.googleapis.com/css?family=Righteous');



body{
    display: flex;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 16px;
    flex-direction: column;
    background-color:  whitesmoke;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.container{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 150px;
    background-color: #e7e7e7;
    padding-top: 0;
    margin: 0;
    width: 100%;


}

h1{
    display: flex;
    color: #8b2c1c;
    font-family: "Righteous";
    text-transform: uppercase;
}

.projects{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 650px;
    width: 1024px;
    justify-content: space-around;

}

.metronome, .gizmo, .daily-helper {
    height: 20%;
    width: 15%;
    display: flex;
    background-color: #8b2c1c;
    font-family: "Righteous";
    text-transform: uppercase;
    text-decoration: none;
    color: #e7e7e7;
    margin: 2px;
}

.footer{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: 	#e7e7e7;
    color: #8b2c1c;
    font-family: "Righteous";
    text-transform: uppercase;
    align-items: flex-end;
    width: 100%;



}

.jan{
    display: flex;
    height: 20px;
}

@media (max-width: 580px) {
    .projects{
        flex-direction: column;
    }
}
@media (max-width: 970px) {
    .projects {
        justify-content: center;
    }
}